{% extends '::base.html.twig' %}

{% block title %}Emmediate Credit Solutions{% endblock %}

{% block styles %}
    {{ parent() }}
{% endblock %}

{% block scripts %}

{% endblock %}

{% block content %}

<h1>UserRole creation</h1>

<form action="{{ path('roles_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('roles') }}">
            Back to the list
        </a>
    </li>
</ul>

{% endblock %}