{% extends '::base.html.twig' %}

{% block title %}Agents{% endblock %}

{% block styles %}
    {{ parent() }}
{% endblock %}

{% block scripts %}

{% endblock %}

{% block content %}

<h1>User</h1>

{% debug entity %}

<table class="record_properties">
    <tbody>
    	{% for propname, val in entity %}
    		<tr>
    			<th>{{ propname }}</th>
    			<td>{{ val }}</td>
    		</tr>
    	{% endfor %}
        
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('agentmanager') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('agentmanager_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('agentmanager_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}