{% extends '::base.html.twig' %}

{% block title %}Add Position{% endblock %}

{% block styles %}
    {{ parent() }}
{% endblock %}

{% block scripts %}

{% endblock %}

{% block content %}

<form action="{{ path('agentmanager_jobs_create') }}" data-ajax="false" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('agentmanager_jobs') }}">
            Back to the list
        </a>
    </li>
</ul>

{% endblock %}