<h1>EmployeeJobs list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Job_title</th>
            <th>Job_description</th>
            <th>Starting_salary</th>
            <th>Positions_available</th>
            <th>Default_role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('agentmanager_jobs_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.jobtitle }}</td>
            <td>{{ entity.jobdescription }}</td>
            <td>{{ entity.startingsalary }}</td>
            <td>{{ entity.positionsavailable }}</td>
            <td>{{ entity.defaultrole }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('agentmanager_jobs_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('agentmanager_jobs_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('agentmanager_jobs_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
